.form-login {
  width: 100%;
  max-width: 650px;
  height: auto;
  margin: auto;
  margin-top: 7%;
  padding: 50px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3), 0 9px 26px 0 rgba(0, 0, 0, 0.3);
  background-color: #fff;
}
