@import '../../styles//css/variables/variables.scss';
.container {
  height: '100vh';
}

.menu-right {
  display: flex;
  flex-direction: row-reverse;
}

.color-red {
  color: $error-color !important;
}

.right {
  flex: 1;
}

.logo {
  float: left;
  margin: 0 0 16px 50px;
  color: white;
}
