@import '../../styles/css/variables/variables.scss';

.form-login {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 7%;
  padding: 5%;
  padding-left: 7%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3), 0 9px 26px 0 rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.title-margin {
  margin-left: 22%;
}

@media (max-width: 768px) {
  .button-login {
    width: 40%;
  }
}
